# syntax = denzp/cargo-wharf-frontend:v0.1.0-alpha.2
[package]
name = "rdaggy"
version = "0.1.0"
authors = ["Daggy1234"]
edition = "2018"

# See more keys and their dfinitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serenity = { version="0.9.1", features = ["client", "gateway", "cache", "rustls_backend", "model","framework", "standard_framework"] }
tokio = { version = "0.2", features = ["macros","signal"] }
dotenv = "0.15"
tracing = "0.1"
tracing-subscriber = "0.2"
tracing-futures = "0.2"
typemap = "0.3.3"
reqwest = {version="0.10.10",features=["json"]}
num-integer = "0.1.32"
time = {version="0.2.23", features=["std"]}
serde = "1.0.117"

[dependencies.futures]
version = "0.3"
default-features = false
features = ["std"]

[package.metadata.wharf.builder]
image = "rust"

[package.metadata.wharf.output]
image = "gcr.io/distroless/cc-debian10"
entrypoint = ["bot"]
stop-signal = "SIGINT"

[package.metadata.wharf.output.labels]
"simple-label" = "simple value"
"my.awesome.label" = "another value"

[[package.metadata.wharf.binary]]
name = "rdaggy"
destination = "/usr/local/bin/bot"
